name: Deploy Website
on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: docs
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs mkdocs-material

      - name: Build mkDocs
        run: mkdocs build --clean --site-dir site  # produces a folder called site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/site # command is ran from the top-level folder, not from the working dir

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4